.authentication-page .ty-mainbox-body,
.auth-information-grid,
.profile-information-grid,
.ty-account,
.ty-success-registration__item {
    padding: 30px;
    border: 1px solid @sdt-border-color;
    border-top: 2px solid @sdt-urban-dark;
}

.authentication-page {
    .ty-mainbox-title {
        margin-bottom: 30px;

        @media (max-width: @sdt-urban-mq-xs-min) {
            margin-bottom: 15px;
        }
    }

    .ty-mainbox-body {
        .buttons-container {
            padding-bottom: 0;
            margin-top: 0;
            margin-bottom: 0;

            @media (max-width: @sdt-urban-mq-xs-min) {
                padding-left: 0;
            }
        }

        .ty-login {
            margin-top: 0;
        }
    }

    .ty-password-forgot__a {
        color: @sdt-urban-gray;
    }
}

.ty-login__remember-me-label {
    font-size: @sdt-fz-l;
    color: @sdt-urban-dark;
}

.auth-information-grid,
.profile-information-grid {
    margin-top: 77px;

    @media (max-width: @sdt-urban-mq-xs-min) {
        margin-top: 30px;
    }

    .ty-login-info {
        margin: 0;

        &__txt .ty-btn__primary {
            display: inline-block;
            margin-top: 15px;
        }
    }

    .ty-account-benefits {
        margin: 0;

        h4 {
            margin: 0;
        }
    }

    h4 {
        font-size: 26px;

        @media (max-width: @sdt-urban-mq-xs-min) {
            font-size: 22px;
        }
    }
}

.ty-account .buttons-container {
    padding-bottom: 0;
    margin: 0;
}

.ty-recover-password {
    @media (max-width: @sdt-urban-mq-xs-min) {
        margin-top: 0;
    }
}

.ty-login-info__txt {
    @media (max-width: @sdt-urban-mq-xs-min) {
        font-size: @sdt-fz-sm;
    }
}
