p {
    padding: 0;
}

a:hover {
    color: @primary_button;
}

i {
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: italic;
    text-transform: uppercase;

    @media (min-width: 980px) {
        font-size: 40px;
    }
}

.ty-feature__image {
    background: @sdt-urban-dark;
}

.help-inline p {
    padding: 4px 8px;
    text-align: center;
    border-radius: 40px;
}

.ty-compare-menu__item .ty-compare-menu__elem {
    background: @decorative;
}

.touch .ty-compare-products__product .ty-value-changer {
    margin: 0 auto;
}

.ty-companies__img {
    float: none;
}

@media (max-width: @sdt-urban-mq-sm-min) {
    .ty-features-all {
        text-align: left;
    }
}

.ty-grayscale {
    -webkit-filter: none;
    filter: none;
}

.row-fluid [class*="span"].flex-grid {
    display: -ms-flexbox;
        display: flex;
}

.align-justify {
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flex-wrap-mobile {
    @media (max-width: 767px) {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}

.sdt-container > .row-fluid {
    min-width: @fluidContainerMinWidth;
    max-width: @fluidContainerMaxWidth;
    margin: 0 auto;
}

.ty-product-block__button .ty-btn ~ .ty-btn {
    margin-left: 0;
}

.ty-product-block__button .ty-btn,
.ty-product-block__button .ty-btn__add-to-cart {
    margin-right: 20px;
}

.ty-min-qty-description {
    margin-top: 0;
}
