.ty-breadcrumbs {
    @media (min-width: @sdt-urban-mq-md) {
        padding-right: 140px;
    }

    &__current {
        color: @primary_button;
    }

    &__a {
        color: @sdt-urban-gray;
    }
}

.breadcrumbs-grid .ty-horizontal-product-filters {
    padding: 0;
    background: transparent;
    border: 0;
}

.ty-product-switcher {
    padding: 2px 36px;
    text-transform: uppercase;

    @media (max-width: @sdt-urban-mq-sm-min) {
        padding: 2px 0;
    }

    &:hover span {
        color: inherit;
    }

    &__a {
        .ty-product-switcher__icon {
            padding: 0;
            font-size: @sdt-fz-xxl;
            color: @primary_button;
            transition: all 300ms ease-in-out;

            &:hover {
                color: @sdt-urban-dark;
            }
        }

        &.disabled .ty-product-switcher__icon {
            color: @sdt-urban-dark;

            &:hover {
                color: @sdt-urban-dark;
            }
        }
    }
}
