.ty-btn {
    margin-right: 10px;
    margin-bottom: 10px;
    word-break: break-all;

    + .ty-btn {
        margin-left: 0;
    }

    &__primary,
    &__secondary,
    &__tertiary {
        padding: 15px;
        font-size: @sdt-btn-fz;
        font-weight: 700;
        color: @sdt-btn-text-color;
        text-transform: uppercase;
        background-color: @primary_button;
        border: 0;
        border-radius: @sdt-btn-radius-large;
        transition:
            background-color 300ms ease-in-out,
            box-shadow       300ms ease-in-out;

        &:hover {
            color: @sdt-btn-text-color;
            background: @sdt-urban-dark;
            box-shadow: 0 12px 12px 2px fade(@sdt-urban-dark, 35%);
        }
    }

    &__primary {
        padding-right: 25px;
        padding-left: 25px;
        box-shadow: 0 12px 12px 2px fade(@primary_button, 35%);

        @media (max-width: @sdt-urban-mq-md) {
            padding: 10px 20px;
        }
    }

    &__secondary,
    &__tertiary {
        @media (max-width: @sdt-urban-mq-md) {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    &__secondary {
        background: darken(@sdt-urban-gray, 30%);
        box-shadow: 0 8px 8px 2px fade(darken(@sdt-urban-gray, 30%), 35%);
    }

    &__tertiary {
        background: @sdt-urban-gray;
        box-shadow: 0 8px 8px 2px fade(@sdt-urban-gray, 35%);
    }

    &__text {
        color: @primary_button;
        transition: color 300ms ease-in-out;

        i {
            color: inherit;
        }

        &:hover {
            color: @sdt-urban-dark;
        }
    }

    &__add-to-cart {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.ty-remove__txt,
.ty-icon-cancel-circle {
    font-size: 16px;
    color: @sdt-urban-dark;
}

.buttons-container {
    background: transparent;
}

.sdt-btn--large {
    display: inline-block;
    padding: 27px 35px;
    margin-bottom: 0;
    font-size: @sdt-fz-m;
    font-weight: 700;
    color: @sdt-btn-text-color;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: @primary_button;
    border-radius: @sdt-btn-radius-large;
    box-shadow: 0 12px 12px 2px fade(@primary_button, 35%);
    transition:
        color            300ms ease-in-out,
        background-color 300ms ease-in-out,
        box-shadow       300ms ease-in-out;

    &:hover {
        color: @sdt-btn-text-color;
        background: @sdt-urban-dark;
        box-shadow: 0 12px 12px 2px fade(@sdt-urban-dark, 35%);
    }
}

.ty-search-form__buttons-container {
    .ty-btn + .ty-btn {
        margin-left: 20px;
    }
}
