.owl-theme {
    position: static;

    .owl-controls-outside {
        .owl-buttons {
            div {
                position: absolute;
                top: 50%;
                z-index: 10;
                width: 50px;
                padding: 0;
                margin-top: -30px;
                font-size: @sdt-owl-icon-size-big;
                color: @primary_button;
                cursor: pointer;
                background: transparent;
                opacity: .5;
            }

            .owl-prev {
                left: -25px;
            }

            .owl-next {
                right: -20px;
            }
        }
    }
}
