.ty-coupons__container {
    .sdt-btn--large {
        height: 40px;
        padding: 0 10px;
        color: @sdt-urban-white;
        background: @primary_button;
        border-radius: 0 5px 5px 0;
        box-shadow: none;
    }

    input {
        height: 41px;
    }
}

.ty-cart-content {
    &__top-buttons,
    &__bottom-buttons {
        .ty-btn__primary,
        .ty-btn__secondary {
            padding: 11px 20px;
            font-size: @sdt-fz-m;
            box-shadow: none;
        }

        .ty-btn__tertiary.ty-btn__secondary {
            background: @sdt-urban-dark;

            &:hover {
                background: @primary_button;
            }
        }
    }

    &__buttons {
        background: transparent;
    }

    .ty-cart-content {
        &__product-elem,
        &__title {
            border: 1px solid @sdt-border-color;
        }
    }

    .ty-control-group__label {
        font-weight: 400;
    }
}

.ty-cart-total {
    background: transparent;

    &__wrapper {
        margin-top: -1px;
        border: 1px solid @sdt-border-color;

        .ty-cart-statistic {
            border-left: 1px solid @sdt-border-color;

            &__total-list {
                border-color: @sdt-border-color;
            }
        }
    }
}

.ty-table {
    th {
        padding: 15px 20px;
        font-size: @sdt-fz-sm;
        text-transform: uppercase;
        background: fade(@sdt-urban-black, 5%);
        border: 1px solid @sdt-border-color;
    }

    td {
        border: 1px solid @sdt-border-color;
    }

    tbody tr:nth-child(2n) {
        background: @sdt-urban-white;
    }
}

.ty-cart-statistic__item,
.ty-cart-content__product-title {
    color: @sdt-urban-dark;
}

.ty-input-append .ty-input-text {
    font-size: 13px;
}

.ty-tabs {
    border-bottom-color: @sdt-border-color;

    &__item,
    .subtab {
        background: @sdt-urban-dark;

        &:hover {
            background: @sdt-urban-dark;
        }

        &.active {
            background: @primary_button;
        }
    }

    &__a,
    .subtab a {
        padding: 8px 21px 8px 18px;
        color: @sdt-urban-white;
    }
}

@media (max-width: @sdt-urban-mq-xl) and (min-width: @sdt-urban-mq-sm-min) {
    .ty-sidebox .ty-sidebox__body .ty-order-info {
        &__title,
        h4 {
            font-size: 22px;
        }
    }
}

@media (max-width: @sdt-urban-mq-sm-min) {
    .ty-checkout-select-store__map-full-div,
    .ty-checkout-select-store {
        padding-left: 0;
    }
}

@media (max-width: @sdt-urban-mq-xs-min) {
    .ty-cart-statistic__total,
    .ty-checkout__title-icon {
        font-size: @sdt-fz-xl;
    }

    .ty-login {
        &__remember-me .ty-login__remember-me-label {
            font-size: @sdt-fz-sm;
            color: @sdt-urban-dark;
        }

        .cm-processed-form {
            margin-bottom: 10px;
            border-bottom: 1px solid @sdt-border-color;
        }
    }

    .cm-processed-form {
        .ty-control-group label,
        .ty-password-forgot .ty-password-forgot__a {
            font-size: @sdt-fz-sm;
        }
    }

    .side-grid {
        .ty-sidebox__title span,
        .ty-sidebox__title a,
        .ty-footer .ty-footer-general__header.cm-combination span {
            font-size: @sdt-fz-l;
        }

        .ty-sidebox__body .ty-order-info {
            &__title,
            h4 {
                font-size: 16px;
            }
        }
    }

    #anonymous_checkout .ty-checkout-buttons {
        padding: 0;

        .ty-btn__primary {
            padding-left: 15px;
        }
    }
}
