.ty-template-small {
    &__item {
        padding: 15px;
        margin-top: 10px;
        overflow: hidden;
        background: @sdt-border-color;
        border-bottom: none;

        &-img,
        &-description {
            @media (max-width: @sdt-urban-mq-xl) and (min-width: @sdt-urban-mq-md) {
                float: none;
                width: 100%;
                text-align: center;
            }
        }

        &-img {
            float: left;
            margin-right: 15px;
            text-align: center;

            img {
                width: 100px;
            }
        }

        .ty-btn {
            margin-top: 10px;
            box-shadow: none;
        }

        .ty-btn__add-to-cart {
            padding: 15px;
        }

        .ty-btn__add-to-cart + .cm-dialog-opener {
            display: none;
        }

        .ty-price span {
            font-size: @sdt-fz-xl;
            font-weight: 400;
            color: @primary_button;
        }

        &-description {
            > a {
                font-size: @sdt-fz-m;
                font-style: italic;
                font-weight: 700;
                color: @sdt-urban-dark;
                text-transform: uppercase;
            }
        }

        &-price {
            margin-top: 5px;
            margin-bottom: 10px;
        }
    }
}

.ty-sidebox {
    &__title {
        margin-top: 7px;
        border-bottom: none;

        span,
        a {
            padding: 0;
            font-size: @sdt-fz-xxl;
            font-style: italic;
            color: @sdt-urban-dark;
            text-transform: uppercase;
        }
    }

    .ty-input-text-medium {
        padding-left: 15px;
        border-radius: 20px;
    }
}

.ty-product-list {
    &__item-name .product-title {
        padding-top: 10px;
        font-size: @sdt-fz-xl;
        font-style: italic;
        font-weight: 700;
        color: @sdt-urban-dark;
        text-transform: uppercase;
    }

    .ty-price span {
        font-size: @sdt-fz-xxl;
        color: @primary_button;
    }

    &__image {
        width: 200px;
        height: 200px;
        background: @sdt-border-color;
        border: 0;
    }

    &__description div {
        font-size: @sdt-fz-m;
        line-height: 21px;
        color: @sdt-urban-gray;
    }

    &__feature div {
        font-size: @sdt-fz-m;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
    }
}

.ty-grid-list {
    &__item {
        margin-bottom: 35px;

        &:hover {
            .ty-icon-left-circle,
            .ty-icon-right-circle {
                visibility: hidden;
            }
        }

        &-name {
            margin: 0;

            .product-title {
                padding-top: 35px;
                font-size: @sdt-fz-xl;
                font-style: italic;
                font-weight: 700;
                color: @sdt-urban-dark;
                text-transform: uppercase;
            }

            .stock-wrap {
                position: relative;
                top: 15px;
            }
        }
    }

    &__price {
        margin-top: 15px;

        span {
            font-size: @sdt-fz-xxl;
            color: @primary_button;
        }

        span[id^='old_price_update'] {
            display: block;
            margin: 0;
            font-size: @sdt-fz-m;

            span {
                margin-top: -2px;
                font-size: @sdt-fz-m;
                font-weight: 700;
                color: @sdt-urban-gray;
            }
        }
    }

    &__image {
        position: relative;
        min-height: 50px;
        padding: 18px 0;
        text-align: center;
        border: 0;

        .ty-quick-view-button {
            position: absolute;
            bottom: 44px;
            left: 40px;
            visibility: visible;
        }
    }

    &__control {
        @media (min-width: @sdt-urban-mq-md) {
            margin-top: 14px;
        }

        @media (max-width: @sdt-urban-mq-sm-min) {
            padding-bottom: 10px;
        }
    }
}

.ty-compact-list {
    &__item {
        padding: 30px 0;
    }

    &__controls {
        padding-bottom: 0;

        .ty-qty {
            margin-bottom: 10px;
        }

        .ty-btn__add-to-cart {
            margin-right: 5px;
            margin-bottom: 10px;
        }
    }

    &__price {
        margin-bottom: 5px;

        .ty-price {
            color: @primary_button;
        }

        .ty-price-num {
            font-size: @sdt-fz-l;
            font-weight: 400;
        }

        [id^='old_price_update'] span {
            font-size: @sdt-fz-sm;
        }
    }
}

.side-grid .ty-sidebox + .ty-footer .ty-footer-general__header span {
    @media (max-width: @sdt-urban-mq-sm-min) {
        font-size: @sdt-fz-xxl;
    }

    @media (max-width: @sdt-urban-mq-xs-min) {
        font-size: @sdt-fz-l;
    }
}
