.checkout-steps {
    &.cm-save-fields {
        margin-top: 30px;
    }

    .ty-step__title-left .ty-icon-ok {
        color: @primary_button;
    }

    .ty-btn__primary,
    .ty-btn__secondary {
        padding: 10px 20px;
        box-shadow: none;
    }

    .ty-step__title-arrow.ty-icon-down-micro {
        display: none;
    }

    .ty-step__title {
        margin: 0;
        font-style: normal;

        &-txt {
            color: @sdt-urban-dark;
            vertical-align: middle;
        }

        &-left {
            margin-top: 10px;
            color: @sdt-urban-white;
            background: @primary_button;

            i {
                margin-top: 10px;
            }
        }
    }

    .ty-step__title,
    .ty-step__title-active,
    .ty-step__title-complete {
        padding-bottom: 15px;
    }

    .ty-step__title-active .ty-step__title-txt {
        padding-bottom: 15px;
    }

    .ty-cvv2-about__description-title {
        font-size: 26px;
    }

    .ty-step__container,
    .ty-step__container-active {
        margin-bottom: 30px;
        background: transparent;
        border: 1px solid @sdt-border-color;
    }

    .ty-checkout-buttons {
        background: transparent;
    }

    .ty-step__title-active {
        margin-top: 0;
        font-style: normal;
        background: @primary_button;

        .ty-step__title-txt {
            color: @sdt-urban-white;
        }
    }

    .ty-checkout__register-cancel {
        padding: 11px 20px;
        font-size: @sdt-fz-m;
        font-weight: 700;
        color: @sdt-urban-white;
        text-transform: uppercase;
        background: @sdt-urban-dark;
        border: 0;
        border-radius: @sdt-btn-radius-large;
        box-shadow: none;
        transition: all 300ms ease-in-out;

        &:hover {
            color: @sdt-urban-white;
            background: @primary_button;
        }
    }

    .ty-billing-zip-code,
    .ty-shipping-zip-code {
        width: 240px;
    }

    .ty-cc-icons__item {
        padding: 7px 5px;
    }
}

.ty-checkout-summary {
    .sdt-btn--large {
        height: 40px;
        padding: 0 10px;
        color: @sdt-urban-white;
        background: @primary_button;
        border-radius: 0 5px 5px 0;
        box-shadow: none;
    }

    .ty-input-append .ty-input-text {
        height: 42px;
    }
}

.ty-checkout-complete {
    &__create-account .ty-login .ty-btn {
        padding: 10px 20px;
        font-size: @sdt-fz-m;
        font-weight: 700;
        text-transform: uppercase;
        background: @primary_button;
        border: 0;
        border-radius: @sdt-btn-radius-large;
        transition: all 300ms ease-in-out;
    }

    &__buttons.buttons-container .ty-btn {
        box-shadow: none;
    }
}

.ty-checkout {
    &__login .ty-password-forgot__a {
        padding: 0;
        font-size: @sdt-fz-l;
        font-weight: 700;
        line-height: 34px;
        color: @sdt-urban-gray;
    }

    &__register-methods-item .ty-checkout__register-methods-hint {
        color: @sdt-urban-gray;
    }

    &__billing-options h2 {
        font-size: @sdt-fz-xxl;
    }

    &-select-store__item-view .cm-map-view-locations {
        padding: 10px 20px;
        font-size: @sdt-fz-m;
        font-weight: 700;
        text-transform: uppercase;
        background: @primary_button;
        border: 0;
        border-radius: @sdt-btn-radius-large;
        transition: all 300ms ease-in-out;
    }
}

.ty-sidebox__body {
    .ty-order-info__title,
    .ty-order-info h4 {
        font-size: 26px;
    }

    .ty-order-info__profile-field, {
        background: @sdt-urban-white-smoke;
        border: 1px solid darken(@sdt-urban-white-smoke, 10%);

        li {
            color: @sdt-urban-dark;
        }
    }

    .ty-order-products__price span {
        color: @sdt-urban-dark;
    }

    .ty-order-products__item .ty-order-products__a {
        color: @sdt-urban-dark;
    }
}

.ty-step__container-active .ty-step__title-left {
    position: static;
    color: @sdt-urban-dark;
    background: @sdt-urban-white;
}

.ty-customer-notes {
    p {
        color: @sdt-urban-gray;
    }

    textarea {
        border-color: @sdt-border-color;
    }
}

.ty-step__title-complete {
    margin: 0;

    .ty-step__title-right .ty-btn {
        top: 12px;
    }
}

@media (max-width: @sdt-urban-mq-xs-min) {
    .checkout-steps .ty-step__title {
        &-txt {
            margin-left: 28px;
            font-size: @sdt-fz-sm;
        }

        &-left .ty-icon-ok {
            top: 10px;
        }
    }

    .ty-step {
        &__title-complete .ty-step__title-right .ty-btn {
            top: 15px;
            height: 30px;
            padding: 0 10px;
            font-size: 12px;
            line-height: 30px;
        }

        &__body-active {
            padding-top: 0;
        }

        &__title {
            padding: 4px 14px 7px;

            &-active,
            &-complete {
                padding: 4px 14px 7px;
            }

            &-left {
                padding: 3px 7px;
                font-size: @sdt-fz-sm;
            }
        }
    }

    #checkout_steps .ty-step__title-left {
        margin-top: 14px;
    }

    .ty-checkout__register-methods-item .ty-checkout__register-methods-hint {
        font-size: @sdt-fz-sm;
    }
}
