.our-brands-grid {
    padding: 100px 20px;
    margin-bottom: 0;

    @media (max-width: @sdt-urban-mq-sm-min) {
        padding: 0 15px;
    }

    .owl-buttons i {
        color: @sdt-urban-white;
    }
}

.homepage-our-brands {
    position: relative;
}
