.ty-stars,
.ty-stars a,
.ty-rating {
    color: @primary_button;
}

.ty-discussion-post {
    &__buttons {
        .ty-btn__primary {
            font-size: @sdt-btn-fz;
        }

        &.buttons-container {
            padding: 17px 0;
        }
    }

    &__date {
        font-size: @sdt-fz-sm;
    }
}
