.tygh-footer {
    .ty-text-links__a,
    .ty-footer-menu__item a,
    .ty-account-info__a {
        font-size: @sdt-fz-m;
        color: @sdt-urban-white;
        text-transform: uppercase;

        &:hover {
            color: @links;
        }
    }

    .ty-account-info__item {
        margin-top: 12px;
    }

    .help-inline p {
        margin-top: 15px;
        color: @sdt-urban-white !important;
        background: @sdt-urban-red-transparent;
        border: 2px solid @sdt-urban-red;
    }

    .customer-service-links > ul li {
        padding-right: 0;
    }
}

.ty-footer-menu__icon-open {
    @media (max-width: @sdt-urban-mq-sm-min) {
        right: 10px;
        font-size: @sdt-fz-xxl;
        color: @sdt-urban-dark;
    }

    &-open,
    &-hide {
        @media (max-width: @sdt-urban-mq-xs-min) {
            right: 10px;
            font-size: @sdt-fz-xxl;
            color: @sdt-urban-dark;
        }
    }
}

.footer-no-wysiwyg ul {
    margin: 12px 0 0;
}

.ty-footer-form-block {
    margin: 0;

    &__title {
        width: 48%;
        padding-right: 0;
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        text-transform: none;

        @media (max-width: @sdt-urban-mq-lg-max) {
            font-size: 40px;
        }
    }

    &__form {
        width: 50%;
        margin-top: 14px;
        color: @sdt-border-color;

        input[type='text'] {
            height: 72px;
            padding: 0 7px 0 12px;
            font-size: @sdt-fz-l;
            font-weight: 400;
            line-height: 72px;
            color: @sdt-urban-white;
            background: transparent;
            border: 2px solid @sdt-urban-white;
            border-radius: 40px;
        }

        .sdt-btn--large {
            top: 0;
            right: -2px;
            height: 100%;
            border-width: 0;
            box-shadow: none;

            &:hover {
                color: @sdt-urban-dark;
                background: @sdt-urban-white;
            }
        }

        .help-inline {
            @media (min-width: 768px) {
                position: absolute;
            }
        }
    }
}

.footer-stay-connected {
    margin: 60px 100px;
    text-align: center;
    background: transparent;

    .ty-footer-form-block {
        &__title,
        &__form {
            @media (max-width: @sdt-urban-mq-md) {
                width: 100%;
            }
        }

        .ty-btn-go {
            @media (max-width: @sdt-urban-mq-md) {
                position: static;
                width: 100%;
                margin-top: 10px;
            }
        }
    }

    @media (max-width: @sdt-urban-mq-md) {
        margin-right: 20px;
        margin-left: 20px;
    }

    @media (max-width: @sdt-urban-mq-lg-min) {
        margin-right: 0;
        margin-left: 0;
    }

    > div {
        @media (max-width: @sdt-urban-mq-lg-max) {
            margin: auto;
        }
    }
}

.ty-sidebox + .ty-footer .ty-footer-general__header {
    padding-top: 0;

    span {
        font: 700 @sdt-fz-xxl @body_font;
        font-size: @sdt-fz-xl;
        font-style: italic;
        line-height: 1.12;
        color: @sdt-urban-dark;
        text-transform: uppercase;
        letter-spacing: 1.2px;
    }
}

.ty-footer {
    &-grid__full-width {
        padding-top: 40px;
    }

    &-grid__full-width.footer-copyright {
        padding-bottom: 40px;
        background: transparent;
    }

    &-general__header span {
        font-size: @sdt-fz-xl;
        font-style: italic;
        color: @primary_button;
        letter-spacing: 1.2px;
    }

    &-menu__items,
    &-general__body {
        margin: 0;
        margin-top: 27px;
    }

    &__body .ty-account-info__item {
        padding: 0;
        margin-top: 8px;
        line-height: 24px;

        .ty-account-info__a {
            font-size: @sdt-fz-m;
            color: @sdt-urban-white;
            text-transform: uppercase;
        }

        &:hover .ty-account-info__a {
            color: @primary_button;
        }
    }

    &-menu__item a:hover {
        color: @primary_button;
    }

    .ty-social-link {
        @media (max-width: 979px) and (min-width: 768px) {
            margin-right: 50px;
            margin-bottom: 20px;
        }
    }

    .ty-social-link i {
        font-size: 26px;
        color: @sdt-urban-white;

        &:hover {
            color: @primary_button;
        }
    }

    .ty-social-link-block {
        padding: 0;
        margin-top: 20px;
        border: 0;
    }

    .ty-cr-phone-number-link {
        text-align: left;

        .ty-cr-phone-prefix,
        .ty-cr-link a span,
        .ty-cr-phone span {
            color: @sdt-urban-white;
        }
    }

    .ty-wysiwyg-content ul > li {
        display: block;
        padding-right: 0;
        line-height: 24px;
    }
}

.ty-text-links__item,
.ty-footer-menu__item {
    padding: 0;
    margin: 0;
    margin-top: 8px;
    line-height: 24px;
}

.bottom-copyright {
    font-size: 16px;
    color: @sdt-urban-white;

    .bottom-copyright {
        color: @primary_button;

        &:hover {
            color: @sdt-urban-white;
        }
    }
}

.no-touch .ty-text-links__a:hover {
    color: @primary_button;
}

.ty-cr-phone-number-link {
    .ty-cr-work {
        font-size: @sdt-fz-l;
    }

    .ty-cr-phone {
        font-weight: 400;
    }

    .ty-cr-link,
    .ty-cr-phone {
        line-height: 24px;
    }
}

.container-fluid .ty-footer-grid__full-width {
    @media (max-width: @sdt-urban-mq-lg-max) {
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media (max-width: @sdt-urban-mq-xs-min) {
    .ty-footer-general__header i {
        top: 22px;
        color: @primary_button;
    }

    .footer-no-wysiwyg ul > li {
        display: inline;
        padding-right: 10px;

        a {
            font-size: 11px;
            text-transform: uppercase;
        }
    }
}

@media (max-width: @sdt-urban-mq-md) {
    .ty-footer-line {
        margin: 60px 0 20px;
    }
}

@media (max-width: @sdt-urban-mq-sm-min) {
    .newsletter-full-width .ty-btn-go.sdt-btn--large {
        position: relative;
        width: 100%;
        margin: 0;
        margin-top: 10px;
        outline: none;
        box-shadow: none;
    }

    .ty-footer {
        &-menu__header,
        &-general__header {
            padding-top: 25px;
            margin-top: 0;
            border: 0;
        }

        &-menu__items,
        &-general__body {
            display: block;
            margin-top: 0;

            .ty-text-links__item {
                padding: 0;
                border: 0;
            }
        }

        &-grid__full-width {
            .ty-logo-container {
                text-align: left;
            }

            .ty-footer-menu {
                padding-bottom: 0;

                [class^='ty-footer-menu__icon'] {
                    display: none;
                }
            }
        }

        &-menu__item {
            padding: 0;
            border: 0;
        }
    }

    .ty-wysiwyg-content ul > li,
    .ty-text-links__item {
        padding: 0;
        border: 0;
    }
}
