input[type='text'],
input[type='password'] {
    border-radius: 5px;

    &:focus {
        border-color: @sdt-border-color;
    }
}

.ty-control-group {
    vertical-align: top;

    label {
        padding: 0;
        font-size: @sdt-fz-l;
        font-weight: 700;
        line-height: 34px;
        color: @sdt-urban-gray;
    }

    input {
        height: 34px;
        padding: 7px;
        line-height: 18px;
        border: 1px solid @sdt-border-color;
    }
}
