.tygh-top-panel,
.tygh-header {
    @media (min-width: @sdt-urban-mq-md) {
        padding: 0 20px;
    }

    .container-fluid > .row-fluid .row-fluid__row {
        max-width: 100%;
    }
}

.top-grid {
    max-width: 100%;
}

.header-grid {
    @media (min-width: @sdt-urban-mq-lg-min) {
        width: 90%;
        max-width: 90%;
        margin: 0 auto;
    }
}

.top-menu-grid {
    padding-top: 20px;
}

.top-social-links {
    display: -ms-flexbox;
    display: flex;

    @media (min-width: 768px) {
        margin-left: auto;
    }

    @media (max-width: 767px) {
        margin-right: auto;
    }

    .ty-wysiwyg-content {
        display: -ms-flexbox;
        display: flex;
    }
}

.top-currencies,
.top-languages {
    display: -ms-flexbox;
    display: flex;

    > div {
        display: -ms-flexbox;
        display: flex;
    }

    .ty-select-block {
        top: ~"calc(100% + 2px)";
    }
}

.top-currencies .ty-select-block {
    text-align: center;
}

.top-social-links + .top-languages .ty-select-wrapper,
.top-social-links + .top-currencies,
.top-languages + .top-social-links .ty-social-link-block {
    border-left-width: 0;
}

.top-languages .ty-select-wrapper,
.top-currencies .ty-select-wrapper {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.top-languages .ty-select-wrapper {
    border: 2px solid @sdt-border-color;
    border-top-width: 0;
    border-bottom-width: 0;
}

.customer-service-links .ty-text-links__item {
    padding-right: 16px;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    list-style-type: none;
}

.ty-social-link {
    i {
        font-size: @sdt-social-links-size;
        color: @sdt-social-links-color;
    }

    &-block {
        display: inline-block;
        margin: 0;
    }
}

.sticky-row .ty-dropdown-box__content {
    right: -13px;
}

.tygh-header {
    > div {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .ty-dropdown-box__content {
        margin-top: 6px;
    }

    .ty-account-info {
        &__orders,
        &__buttons {
            margin-top: 0;
        }
    }

    .ty-account-info__orders .ty-control-group {
        input {
            height: 50px;
            padding-left: 15px;
            margin-top: 10px;
            border-radius: 25px;

            ~ .sdt-btn--large {
                width: 48px;
                height: 48px;
                padding: 0;
                margin-top: 10px;
                box-shadow: none;

                .ty-btn-go__icon {
                    top: 14px;
                    left: 20px;
                    font-size: 28px;
                    color: @sdt-urban-white;
                }
            }
        }
    }

    .ty-dropdown-box {
        position: relative;
        top: 5px;
        display: inline-block;
        min-width: 58px;
        height: 58px;
        margin-right: 10px;
        color: @sdt-urban-white;
        text-align: center;
        background: @sdt-urban-dark;
        border-radius: 50%;
        transition: all .4s ease-in-out;

        &:hover {
            background: @primary_button;
        }

        a {
            outline: none;
        }

        .ty-dropdown-box__title {
            width: 56px;
            height: 56px;
            padding: 0;

            &:hover {
                background: transparent;

                .ty-minicart-title.ty-hand {
                    background: @sdt-urban-dark;
                }
            }
        }

        .ty-icon-shopping_basket {
            top: 12px;
            right: 12px;
            font-size: @sdt-fz-xxl;
            color: @sdt-urban-white;
        }

        .ty-icon-user {
            position: absolute;
            top: 13px;
            right: 15px;
            font-size: 26px;
            color: @sdt-urban-white;
        }
    }

    .ty-dropdown-box__title.open {
        background: inherit;
        border-radius: 50%;
    }
}

input[type='text'].ty-search-block__input {
    position: relative;
    top: 3px;
    height: 59px;
    padding: 0 4px 0 54px;
    margin: 0 auto;
    font-family: @body_font;
    font-size: 12px;
    color: @sdt-urban-gray;
    text-transform: uppercase;
    border: 2px solid @sdt-border-color;
    border-radius: 72px;
    border-image: initial;
}

.ty-search-magnifier {
    top: 3px;
    right: auto;
    left: 10px;
    width: 54px;
    height: 54px;
    padding: 7px;
    line-height: 54px;
    cursor: pointer;
    background: none;
    border: 0;
    outline: none;

    .ty-icon-search {
        font-size: @sdt-fz-xxl;
        color: @sdt-urban-dark;
    }
}

.ty-select-block {
    top: 55px;
    border: 2px solid @sdt-border-color;
    border-top: none;

    &__a {
        white-space: nowrap;

        &:hover,
        &.open,
        &.open:hover {
            color: inherit;
            background: transparent;
        }

        &.open .ty-select-block__arrow {
            color: @primary_button;
        }
    }

    &__a-flag,
    &__a-item,
    &__txt {
        font-size: 13px;
        color: @sdt-urban-dark;
        text-transform: uppercase;
        letter-spacing: .78px;
        vertical-align: middle;
    }

    &__arrow {
        vertical-align: text-bottom;
    }

    &__list-item .ty-select-block__list-a {
        padding: 7px 0;
        font-size: 13px;
    }

    .cm-select-list {
        padding: 7px 5px;

        a {
            color: @sdt-urban-gray;

            &:hover {
                color: @primary_button;
                background: transparent;
            }
        }
    }
}

.ty-select-wrapper .ty-select-block__arrow {
    font-size: 13px;
    font-weight: 700;
    color: @primary_button;
}

.ty-select-wrapper {
    padding: 13px 16px 17px;
}

.ty-minicart-title.ty-hand {
    position: absolute;
    top: -4px;
    right: -10px;
    display: block;
    min-width: 26px;
    height: 26px;
    padding: 0;
    font-size: 12px;
    line-height: 26px;
    color: @sdt-urban-white;
    text-align: center;
    background: @primary_button;
    border-radius: 50%;
    transition: all .4s ease-in-out;
    transform: translate3d(0, 0, 0);
}

.top-links-grid li a {
    font-size: 13px;
    color: @sdt-urban-dark;
}

.tygh-top-panel {
    @media (min-width: 768px) {
        border-bottom: 2px solid @sdt-border-color;
    }

    @media (max-width: @sdt-urban-mq-sm-min) {
        text-align: center;
    }

    .container-fluid,
    .container-fluid > .row-fluid.wide-row > .row-fluid__row {
        padding: 0;
    }

    .ty-social-link {
        top: 0;
        margin: 0;

        a,
        i {
            padding: 0 5px;
        }

        i {
            font-size: @sdt-fz-sm;
        }

        &-block {
            padding-right: 15px;
            padding-left: 15px;
            border-right: 2px solid @sdt-border-color;
            border-left: 2px solid @sdt-border-color;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
                align-items: center;

            @media (max-width: 767px) {
                border-left-width: 0;
            }
        }
    }

    a {
        padding: 0 10px;
    }

    .ty-text-links {
        margin-top: 7px;

        &__a {
            padding: 10px;
            text-transform: uppercase;
        }
    }

    .top-buttons-grid {
        display: -ms-flexbox;
        display: flex;
            -ms-flex-pack: end;
        justify-content: flex-end;
    }
}

.ty-cart-items__list-item {
    &-desc {
        a {
            display: inline-block;
            line-height: 21px;
            color: @sdt-urban-dark;
        }

        p {
            line-height: 21px;
        }
    }

    &-tools {
        line-height: 21px;
    }
}

.ty-wysiwyg-content ul {
    padding: 0;
}

.ty-dropdown-box__content {
    border-color: @sdt-border-color;
}

.ty-dropdown-box__content .ty-dropdown-box__item {
    padding: 10px 22px;
    text-align: center;
    border-bottom: 1px solid @sdt-border-color;

    &:hover {
        background: transparent;

        a {
            color: @primary_button;
        }
    }
}

a.ty-account-info__title {
    color: @sdt-urban-white;

    &:hover,
    &:active {
        color: @sdt-urban-white;
    }
}

.ty-logo-container {
    margin-top: 0;
}

.top-search-grid > div {
    margin-right: 3%;
}

.top-my-account {
    margin-left: 0;

    .ty-dropdown-box__title.logged.open {
        background-color: @primary_button;
    }
}

@media (max-width: @sdt-urban-mq-sm-min) {
    .tygh-top-panel .row-fluid {
        position: relative;
        right: auto;
        width: 100%;
        margin: 0;

        .ty-wysiwyg-content ul > li {
            border-bottom: none;
        }

        .top-links-grid {
            display: block;
            float: left;
            width: 100%;
            margin-left: 0;
            border-bottom: 2px solid @sdt-border-color;

            .ty-text-links-wrapper {
                overflow-x: auto;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
                -ms-overflow-style: -ms-autohiding-scrollbar;
            }

            .ty-social-link-block {
                display: block;
                border: 0;
            }

            .ty-float-right {
                width: 50%;
                margin: 0;
            }
        }
    }

    .top-currencies .ty-select-block {
        right: -2px;

        @media (max-width: 480px) {
            right: 0;
            left: auto;
        }
    }

    .ty-footer-menu__item {
        margin-top: 5px;
    }
}

@media (max-width: @sdt-urban-mq-xs-min) {
    .header-grid {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }

    .top-cart-content .cm-popup-box {
        right: -20px;
    }
}

@media (max-width: @sdt-urban-mq-xl-min) {
    .tygh-header {
        > div {
            padding-top: 10px;
        }

        .top-logo-grid {
            text-align: center;
        }
    }

    .top-cart-content {
        margin-top: 0;
    }

    .ty-select-wrapper {
        padding: 15px 6px;
    }

    .tygh-header .top-search-grid .ty-dropdown-box {
        margin-right: 0;
    }
}

@media (max-width: @sdt-urban-mq-sm-min) {
    .tygh-header,
    .tygh-top-panel {
        > div {
            padding: 0;
        }
    }

    .sd-sticky-menu .sticky-row {
        .span4 {
            float: left;
            width: 48%;
        }

        .ty-search-block {
            display: none;
        }
    }

    .tygh-top-panel a {
        padding: 0 6px;
    }

    .top-my-account {
        float: left;

        .ty-dropdown-box__content {
            right: auto;
            left: 0;
        }

        .ty-account-info {
            width: 290px;
        }
    }

    .top-search {
        margin-bottom: 0;

        &-grid {
            [class*='span'] {
                margin-bottom: 10px;
            }
        }
    }

    .top-logo-grid {
        padding-top: 0;

        .ty-logo-container {
            margin-bottom: 10px;
        }
    }

    .top-buttons-grid > div {
        width: 32%;

        &:last-child {
            border-left: 0;
        }

        .ty-select-block__a {
            width: 100%;
            padding: 0;
            overflow: hidden;
        }
    }

    .ty-select-wrapper {
        padding: 15px 0;
    }

    .top-links-grid {
        > .ty-float-left {
            float: none;
        }

        .ty-wysiwyg-content {
            width: 100%;
        }

        .ty-text-links-btn.visible-phone {
            display: none !important;
        }

        .ty-text-links {
            position: relative;
            display: inline-block !important;
            padding: 0;
            margin-top: 0;
        }

        .ty-text-links_show_inline .ty-text-links__item {
            display: inline-block;
            margin-top: 0;
        }
    }

    .ty-social-link i {
        padding: 6px;
    }
}

.header-panel {
    @media (max-width: 767px) {
        padding-right: 20px;
        padding-left: 20px;

        .top-menu-grid {
            padding-top: 0;

            .sd-menu .ty-menu__menu-btn {
                padding-left: 10px;
                margin: 0 -20px;
                border-width: 0;
            }
        }
    }
}

@media (max-width: 767px) {
    .sd-sticky-menu {
        > .container-fluid {
            padding-right: 0;
            padding-left: 0;
        }

        .ty-dropdown-box {
            min-width: 38px;
            height: 38px;

            .ty-dropdown-box__title {
                width: 36px;
                height: 36px;
            }

            .ty-icon-user,
            .ty-icon-shopping_basket {
                top: 8px;
                right: 9px;
                font-size: 18px;
            }

            .ty-minicart-title.ty-hand {
                top: -6px;
                right: -8px;
                min-width: 20px;
                height: 20px;
                font-size: 12px;
                line-height: 23px;
            }
        }

        .sd-hamburger-menu {
            min-height: 34px !important;

            &__button {
                height: 44px !important;
            }

            &__close-button {
                top: 15px;
            }
        }
    }
}
