@font-face {
    font-family: sdt-icons;
    src:
        url('../../media/fonts/sdt-icons.woff2') format('woff2'),
        url('../../media/fonts/sdt-icons.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

.ty-icon-youtube,
.ty-icon-shopping_basket,
.ty-icon-ion-android-mail,
.ty-icon-ion-ios-heart-outline,
.ty-icon-ion-ios-location,
.ty-icon-eye,
.ty-icon-google-plus,
.ty-icon-social-facebook,
.ty-icon-social-twitter,
.ty-icon-chevron-down,
.ty-icon-chevron-up,
.ty-icon-blog-calendar,
.icon-ion-android-done {
    font-family: sdt-icons !important;
}

.ty-icon-youtube::before {
    content: '\e902';
}

.ty-icon-shopping_basket::before {
    content: '\e901';
}

.ty-icon-ion-android-mail::before {
    content: '\f2eb';
}

.ty-icon-ion-ios-heart-outline::before {
    content: '\f442';
}

.ty-icon-ion-ios-location::before {
    content: '\f456';
}

.ty-icon-eye::before {
    content: '\e9ce';
}

.ty-icon-google-plus::before {
    content: '\ea8b';
}

.ty-icon-social-facebook::before {
    content: '\f231';
}

.ty-icon-social-twitter::before {
    content: '\f243';
}

.ty-icon-chevron-down::before {
    content: '\f123';
}

.ty-icon-chevron-up::before {
    content: '\f126';
}

.ty-icon-blog-calendar::before {
    content: '\e903';
}

.icon-ion-android-done::before {
    content: '\f383';
}
