.ty-menu__items {
    a:hover {
        color: @decorative;
    }

    .ty-menu__item {
        .ty-menu__item-link {
            font-size: @sdt-fz-m;
            font-weight: 700;
            text-transform: uppercase;
            outline: none;
        }

        &:hover .ty-menu__item-link {
            color: @decorative;
            background: transparent;
        }
    }

    .ty-menu__item-toggle {
        color: @sdt-urban-gray-light;
    }
}

.ty-menu__item-active .ty-menu__item-link {
    color: @decorative;
    background: inherit;
}

.ty-menu__submenu {
    &-items {
        background: @menu;
        border-color: transparent;

        .ty-menu__submenu-item {
            border-bottom-width: 0;

            a {
                color: @sdt-urban-gray;
            }

            &:hover a {
                color: @decorative;
            }
        }
    }

    &-item-header .ty-menu__submenu-link {
        font-size: 16px;
        color: @decorative;
    }

    &-item-header {
        border-bottom-width: 0;
    }
}

@media (min-width: @sdt-urban-mq-md) {
    .touchevents .ty-menu__submenu-items.cm-responsive-menu-submenu {
        .ty-menu__item a {
            &:hover,
            &:active,
            &:focus {
                background: transparent;
            }
        }
    }

    .ty-menu__submenu-items.cm-responsive-menu-submenu {
        box-shadow: 0 1px 5px fade(@sdt-urban-black, 25%);

        .ty-top-mine__submenu-col {
            padding: 0;
            padding-bottom: 30px;
        }
    }

    .ty-menu__submenu-item-header {
        padding-bottom: 0;
        margin-bottom: 0;
        margin-bottom: 20px;
        border-bottom: none;

        .ty-menu__submenu-link {
            font-size: 19px;
            font-style: italic;
        }
    }

    .ty-menu__submenu-items .ty-menu__submenu-item {
        margin-bottom: 0;

        a {
            margin-top: 12px;
            line-height: 28px;
        }
    }
}

@media (max-width: @sdt-urban-mq-sm-min) {
    .ty-menu__items .ty-menu__item {
        margin: 10px 0;
        border: 1px solid darken(@menu, 15%);

        .ty-menu__item-link {
            line-height: 30px;
        }

        .ty-menu__submenu-items {
            background: @menu;

            .ty-menu__submenu-link {
                color: @sdt-urban-gray;
            }
        }

        .ty-menu__submenu .ty-menu__submenu-items .ty-menu__submenu-item {
            .ty-menu__submenu-link,
            .ty-menu__submenu-alt-link {
                padding: 12px 10px 12px 20px;
            }

            .ty-menu__submenu-alt-link {
                display: block;
                color: @sdt-urban-gray;
            }
        }

        .ty-menu__submenu .ty-menu__submenu-item-header .ty-menu__submenu-link {
            padding: 13px 40px 13px 20px;
        }

        .ty-menu__submenu .ty-top-mine__submenu-col .ty-menu__submenu-item-header {
            border-bottom-width: 0;
        }

        &.ty-menu__menu-btn {
            background: @menu_links;

            &:hover {
                color: @menu;
            }

            .ty-menu__item-link {
                color: @menu;
            }
        }

        > .ty-menu__item-toggle {
            i {
                line-height: 60px;
            }
        }

        .ty-menu__item-toggle {
            color: @sdt-urban-gray;

            &-active {
                background: transparent;
            }
        }
    }
}
