.ty-pagination {
    padding: 10px;
    margin: 30px 0 0;
    overflow: hidden;
    text-align: right;
    background: fade(@sdt-urban-black, 1%);
    border: 1px solid @sdt-border-color;

    @media (max-width: @sdt-urban-mq-sm-min) {
        text-align: center;
    }

    &__item,
    &__selected {
        padding: 8px 10px;
        font-size: 13px;
        color: @sdt-urban-white;
        background: @sdt-urban-dark;
        border-radius: 10px;

        i {
            color: @sdt-urban-white;
        }

        &:hover {
            padding: 8px 10px;
            color: @sdt-urban-white;
            background: @primary_button;
        }
    }

    &__selected {
        background: @primary_button;
    }

    &__text {
        font-size: 13px;
        color: @sdt-urban-white;
        text-transform: none;

        &:hover {
            color: @sdt-urban-white;
        }
    }

    &__next .ty-pagination__text-arrow::before {
        content: '→';
    }

    &-container {
        .ty-sort-container__views-icons {
            float: none;
        }

        .ty-sort-dropdown {
            float: right;
            padding-left: 10px;

            @media (max-width: @sdt-urban-mq-xs-min) {
                display: block;
                float: none;
                padding-left: 0;
            }
        }

        .ty-sort-container {
            padding-bottom: 7px;
        }
    }

    &__items {
        margin: 5px 0;

        a {
            margin: 10px 0;
        }
    }

    &__bottom {
        margin-bottom: 20px;
        border-top: 0;
    }
}
