.ui-widget-content.ui-dialog,
.cm-notification-content,
.cm-popup-box {
    .ty-btn__primary,
    .ty-btn__secondary {
        padding: 15px;
        font-size: @sdt-fz-m;
        box-shadow: none;
    }

    h1 {
        margin-top: 0;
        font-size: 22px;
        font-style: italic;
        font-weight: 700;
        color: @primary_button;
        text-transform: uppercase;
        background: @sdt-urban-white;
        border: 0;

        @media (max-width: @sdt-urban-mq-xs-min) {
            font-size: @sdt-fz-xl;
        }

        .close {
            top: 20px;
        }
    }

    .ty-product-notification__buttons {
        background: transparent;
    }
}

.ui-dialog .buttons-container {
    padding-right: 20px;
    padding-left: 20px;
}

.ui-widget-content.ui-dialog {
    .ui-dialog {
        &-title {
            font-size: 22px;
            font-style: italic;
            font-weight: 700;
            color: @sdt-urban-dark;
            text-transform: uppercase;
        }

        &-titlebar {
            background: transparent;
            border: 0;
        }
    }

    .ty-control-group {
        input,
        textarea {
            padding: 7px;
            line-height: 18px;
            border: 1px solid @sdt-border-color;
        }
    }

    .buttons-container {
        background: transparent;
        border: 0;
    }

    .ty-btn__primary,
    .ty-btn__secondary {
        padding: 15px;
        text-transform: uppercase;
    }

    .ty-rating__label {
        color: @primary_button;
    }

    .ui-widget-header .ui-icon-closethick {
        position: relative;
        top: 5px;
        left: 5px;
        width: 30px;
        height: 30px;
        font-size: 22px;
        color: @sdt-urban-dark;
        opacity: 1;
    }

    .ui-dialog-titlebar-close.ui-state-hover span::before {
        width: 36px;
        height: 36px;
        font-size: 26px;
        color: @sdt-urban-dark;
    }
}

.ui-widget-content {
    .cm-dialog-closer {
        padding: 15px 20px;
        font-size: @sdt-fz-m;
        font-weight: 700;
        text-transform: uppercase;
        background: @sdt-urban-dark;
        border: 0;
        border-radius: @sdt-btn-radius-large;
        box-shadow: none;
        transition: all 300ms ease-in-out;
    }

    .ty-section__title {
        color: @sdt-urban-white;
        background: @primary_button;
    }
}

.ui-widget {
    input,
    select,
    textarea,
    button {
        font-family: @body_font;
    }

    &-content.ui-dialog .ty-control-group textarea {
        resize: none;
    }
}

.ty-product-notification__content span {
    color: @sdt-urban-dark;
}

.notification-content {
    color: @sdt-urban-white;
    border-radius: 50px;

    .close {
        padding-right: 5px;
        font-size: @sdt-fz-xxl;
        line-height: 34px;
        color: @sdt-urban-white;
    }
}

.notification-container .alert-error {
    color: @sdt-urban-white;
    background: @sdt-urban-red;
    border: 2px solid darken(@sdt-urban-red, 10%);
}

.alert {
    &-success {
        background: @sdt-urban-green;
        border: 2px solid darken(@sdt-urban-green, 10%);
    }

    &-warning {
        background: @sdt-urban-orange;
        border: 2px solid darken(@sdt-urban-orange, 10%);
    }
}

.ty-text-links.cm-popup-box {
    border: 0;
}

.cm-notification-content {
    .ty-btn__primary,
    .ty-btn__secondary {
        @media (max-width: @sdt-urban-mq-xs-min) {
            padding: 12px 10px;
            font-size: 12px;
        }
    }

    h1 .cm-notification-close {
        position: relative;
        top: 0;
        left: 25px;
        width: 30px;
        height: 30px;
        font-size: 22px;
        color: @sdt-urban-dark;
        opacity: 1;

        &:hover::before {
            width: 36px;
            height: 36px;
            font-size: 26px;
            color: @sdt-urban-dark;
        }
    }
}
