.ty-range-slider {
    background: @sdt-urban-asphalt;

    &__num {
        left: -10px;
        width: 80px;
        color: @sdt-urban-dark;
        text-align: left;
    }

    &__wrapper .ty-range-slider__item:nth-child(2) .ty-range-slider__num {
        left: -75px;
        text-align: right;
    }

    .ui-slider-handle {
        background: @sdt-urban-dark;
    }
}
