.ty-scroller-list__description {
    @media (max-width: @sdt-urban-mq-xs-min) {
        padding: 15px 10px;
    }

    @media (max-width: @sdt-urban-mq-sm-min) {
        margin-top: 10px;
    }

    .product-title {
        width: 100%;
        padding-top: 0;
        font-size: @sdt-fz-xl;
        font-style: italic;
        font-weight: 700;
        color: @sdt-urban-dark;
        text-align: left;
        text-transform: uppercase;
    }

    .ty-simple-list {
        &__price {
            height: 61px;
            margin-top: 15px;
            text-align: left;
        }

        &__buttons {
            padding: 0;
            margin-top: 14px;
            text-align: left;
        }
    }

    .ty-price-num {
        font-size: @sdt-fz-xxl;
        font-weight: 700;
        color: @primary_button;

        > span {
            font-size: @sdt-fz-xxl;
            color: @primary_button;
        }
    }

    .ty-control-group.product-list-field {
        margin-bottom: 30px;
        text-align: left;
    }
}
