.ty-product-detail {
    .ty-product {
        &-img {
            padding: 2px;
            background: @sdt-urban-white;
            border: 1px solid @sdt-border-color;
        }

        &-thumbnails {
            &__item {
                margin: 0;
            }

            &.cm-image-gallery {
                width: 100%;
            }
        }

        &-block {
            &__button .ty-btn {
                margin-left: 0;
            }

            &-title {
                margin-top: 0;
            }

            &__left {
                padding-right: 0;

                &-content {
                    padding: 0 20px 0 0;

                    @media (max-width: 1199px) {
                        width: 100%;
                    }

                    @media (min-width: 1200px) {
                        max-width: 400px;
                    }
                }
            }

            &__img-wrapper {
                margin-right: 30px;
            }

            &__price-actual {
                margin: 0;
            }
        }

        &-prices {
            margin: 0;
            margin-bottom: 15px;
        }

        &-bigpicture__brand .ty-features-list {
            background: @primary_button;
        }

        &-bigpicture-thumbnails_gallery {
            overflow: hidden;
        }
    }
}

.ty-product-block,
.ty-product-bigpicture {
    &__right {
        display: inline-block;
        float: left;
        width: 270px;
        padding: 0 0 0 20px;

        .ty-price span {
            margin: 0;
            font-size: @sdt-fz-xl;
            font-weight: 400;
            color: @primary_button;
        }

        .ty-social-buttons li {
            padding: 0;
            margin: 3px 3px 0 0;
        }

        .ty-list-price {
            font-size: 16px;
        }

        .ty-control-group__label {
            display: block;
            width: 100%;
            padding: 0;
            margin-bottom: 10px;
            font-weight: 700;
            color: @sdt-urban-gray;
        }
    }

    &__left {
        padding-right: 0;

        &-content {
            display: inline-block;
            float: left;
        }
    }

    .ty-control-group {
        &__label {
            float: none;
            width: auto;
            font-size: @sdt-fz-sm;
            font-weight: 400;
            line-height: 1.5em;
            color: @sdt-urban-dark;
        }

        &__item {
            padding: 0;
            font-size: @sdt-fz-sm;
            line-height: 1.5em;
        }
    }

    .brand .ty-features-list {
        margin-bottom: 12px;
    }

    .ty-product-block__option .ty-product-options__item {
        display: inline-block;
        width: 28%;
        padding-right: 20px;
        margin-bottom: 5px;

        label {
            display: block;
            padding-bottom: 5px;
            font-size: @sdt-fz-l;
            font-weight: 700;
            color: @sdt-urban-gray;
        }

        select {
            width: 100%;
            height: 37px;
            font-size: 13px;
            color: @sdt-urban-dark;
        }

        option {
            font-size: 13px;
        }
    }
}

.ty-product-bigpicture {
    &__right {
        width: auto;
        max-width: 315px;
        padding: 0 0 0 20px;
        background: transparent;
        border: 0;

        .ty-social-buttons {
            padding-top: 15px;
            margin-top: 0;
            text-align: left;
            border-top: 1px solid @sdt-border-color;
        }

        .ty-product-block__price-actual {
            margin-bottom: 0;
        }
    }

    &__prices {
        padding: 0 0 15px;
        margin-left: 0;
        text-align: left;
        border-bottom: 1px solid @sdt-border-color;

        .ty-product-block__price-actual .ty-price-num {
            font-weight: 400;
            color: @primary_button;
        }
    }

    &__sidebar-bottom {
        width: auto;
        padding: 0;
        margin-left: 0;
    }

    &-thumbnails_gallery {
        overflow: hidden;

        .ty-thumbnails_gallery {
            max-width: 264px;
            margin: auto;

            .cm-gallery-item {
                width: 100% !important;
            }

            .owl-wrapper {
                line-height: 0;
            }

            .owl-controls {
                top: 0;
                bottom: 0;
                margin-top: 0;
                pointer-events: none;
            }

            .owl-next,
            .owl-prev {
                position: absolute;
                top: 0;
                right: 4px;
                bottom: 0;
                z-index: 100;
                width: 20px;
                padding: 0;
                color: @sdt-urban-white;
                text-align: center;
                pointer-events: auto;
                background: fade(@sdt-urban-black, 40%);
                border-radius: 0;
                opacity: .5;
            }

            .owl-prev {
                left: 0;
            }

            .cm-item-gallery {
                position: relative;
                display: inline-block;
                float: none;
                margin-right: 5px;
            }

            i {
                position: absolute;
                top: 50%;
                left: 0;
                display: block;
                width: 100%;
                margin: -11px 0 0 0;
                font-size: 22px;
                color: @sdt-urban-white;
            }

            .ty-product-thumbnails__item {
                border-color: @sdt-border-color;
            }

            .ty-product-thumbnails__item.active {
                border-color: fadeout(@primary_button, 80%);
            }
        }
    }

    &__img {
        padding-top: 0;
    }

    .ty-product-block {
        &__note {
            padding-top: 5px;
            padding-bottom: 10px;
            text-align: left;
        }

        &__button {
            .ty-btn {
                margin-right: 10px;
                margin-bottom: 15px;
            }

            .sd-like-btn.ty-btn > .ty-btn {
                margin-bottom: 0;
            }
        }

        &-title {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: @sdt-fz-xl;
            color: @sdt-urban-dark;
            word-wrap: break-word;
        }

        &__option .ty-product-options__item {
            width: auto;
        }

        &__field-group .ty-control-group__label {
            display: block;
            font-weight: 700;
            color: @sdt-urban-gray;
            text-transform: uppercase;
        }

        &__sku,
        &__field-group .stock-wrap {
            margin-bottom: 10px;
        }
    }

    .ty-product {
        &-img {
            float: none;
            padding: 2px;
            border: 1px solid @sdt-border-color;
        }

        &-thumbnails {
            margin: auto;
            margin-top: 10px;

            &__item {
                margin: 0;
            }
        }

        &-bigpicture-thumbnails_gallery {
            padding-left: 0;
        }
    }

    .ty-control-group__label {
        display: inline;
    }

    .ty-previewer {
        margin-left: 0;
    }

    .ty-discount-label {
        &::before,
        &::after {
            display: none;
            content: '';
        }
    }
}

.ty-product-thumbnails__item {
    float: none;
    border-color: transparent;
}

.ty-tabs__item {
    padding: 0;
    margin: 0;
    margin-right: 5px;

    .ty-tabs__a {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        padding: 13px 15px;
        font-size: @sdt-fz-m;
        font-weight: 700;
        color: @sdt-urban-white;
        text-transform: uppercase;
        background: @sdt-urban-dark;
    }

    &.active .ty-tabs__a {
        background: @primary_button;
    }
}

.ty-list-price {
    font-size: @sdt-fz-l;
}

.content-description {
    p,
    span {
        font-size: @sdt-fz-l;
        color: @sdt-urban-dark;
    }

    span {
        font-size: @sdt-fz-m;
        line-height: 21px;
        color: @sdt-urban-gray;
    }

    ul {
        padding: 0 0 0 20px;

        li {
            display: list-item;
            font-size: @sdt-fz-l;
            line-height: 22px;
            text-transform: none;
            list-style-type: disc;
        }
    }
}

.product-list-field .ty-qty-in-stock {
    color: @sdt-urban-dark;
}

.ty-product-block {
    &__left .ty-qty .ty-control-group__label {
        font-weight: 700;
        color: @sdt-urban-gray;
        text-transform: uppercase;
    }

    &__right {
        border-left: 1px solid @sdt-border-color;
    }

    &__button {
        margin-top: 30px;
    }
}

.ty-product-img {
    padding: 2px;
    border: 1px solid @sdt-border-color;
}

.ty-thumbnails_gallery:hover .owl-buttons div {
    opacity: 1;
    transition: all 300ms ease-in-out;
}

@media (max-width: @sdt-urban-mq-sm-min) {
    .ty-product-block__left-content .ty-product-block__option .ty-product-options__item {
        width: auto;
    }

    .ty-product-block.ty-product-detail,
    .main-content-grid .ty-product-bigpicture {
        .ty-product-img {
            margin: auto;
        }

        .ty-product-block {
            &__left-content {
                width: 100%;
                padding: 0;

                .ty-product-block__option .ty-product-options__item {
                    width: auto;
                }
            }

            &__right {
                width: 100%;
            }
        }

        .ty-previewer {
            margin-left: 0;
        }

        &__right {
            float: left;
            border: 0;
        }
    }

    .ty-product-bigpicture__right {
        max-width: 100%;
    }
}

@media (max-width: @sdt-urban-mq-xs-min) {
    .ty-accordion .ui-accordion-header {
        padding: 0 15px;
        font-size: @sdt-fz-m;
        line-height: 50px;
        color: @sdt-urban-white;
        background: @sdt-urban-dark;

        &-icon {
            color: @sdt-urban-white;

            &::before {
                line-height: 40px;
            }
        }

        &.ui-state-active {
            background: @primary_button;
        }
    }
}

@media (max-width: @sdt-urban-mq-lg-min) {
    .ty-product-detail {
        .ty-menu__items {
            overflow: hidden;
        }

        .ty-product-block__right {
            float: none;
            padding-top: 20px;
            padding-left: 0;
            border-left: none;
        }
    }

    .ty-product-block__left-content {
        width: auto;
    }
}

@media (max-width: @sdt-urban-mq-md) {
    .ty-product-detail .ty-product-block__left {
        float: none;
    }
}
