.ty-horizontal-product-filters {
    padding: 0 20px;
    background: fade(@sdt-urban-black, 1%);
    border: 1px solid @sdt-border-color;
    border-radius: 40px;

    &-dropdown__wrapper {
        &:hover,
        &.open {
            color: @primary_button;
            background: transparent;
        }
    }
}

.ty-product-filters {
    &__wrapper {
        background: transparent;

        > .ty-product-filters__block {
            border-bottom: 1px solid @sdt-border-color;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    &__title {
        font: italic 700 20px/1.12 @body_font;
        color: @sdt-urban-dark;
        text-transform: uppercase;

        .cm-ajax-full-render {
            outline: none;
        }

        .ty-icon-cancel-circle {
            top: 8px;
            float: right;
            font-size: 22px;
        }
    }

    &__switch {
        margin-top: 0;
        border-bottom: none;

        .ty-product-filters__title {
            @media (max-width: @sdt-urban-mq-lg-min) {
                font-size: @sdt-fz-l;
            }
        }

        i {
            @media (max-width: @sdt-urban-mq-lg-min) {
                position: relative;
                top: 0;
                right: 0;
                z-index: 100;
                width: 35px;
                font-size: @sdt-fz-l;
                color: @sdt-urban-dark;
                text-align: center;
                cursor: pointer;
            }
        }

        &.open {
            margin-top: 5px;
        }
    }

    &__group {
        margin: 0 3px;

        label {
            color: @sdt-urban-dark;
            cursor: pointer;

            > input {
                position: relative;
                top: -1px;
                margin-right: 10px;

                &::after {
                    position: absolute;
                    top: -1px;
                    left: -1px;
                    display: block;
                    width: 15px;
                    height: 15px;
                    content: '';
                    background-color: @sdt-urban-white;
                    border: 1px solid @sdt-urban-gray;
                    border-radius: 3px;
                }

                &:checked::before {
                    position: absolute;
                    top: -2px;
                    left: 1px;
                    z-index: 1;
                    display: block;
                    width: 9px;
                    height: 9px;
                    font-family: sdt-icons;
                    font-weight: 700;
                    color: @sdt-urban-dark;
                    content: '\f383';
                }
            }
        }
    }

    &__reset-icon {
        left: -24px;
    }
}

.open.ty-product-filters__switch .ty-product-filters__switch {
    &-right,
    &-down {
        display: none;
    }
}

.open.ty-product-filters__switch .ty-product-filters__switch-right,
.ty-product-filters__switch-down {
    display: none;
}
