.ty-value-changer {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    &__input.cm-amount {
        display: block;
        float: none;
        width: 52px;
        height: 30px;
        padding: 0;
        font-size: @sdt-fz-m;
        color: @sdt-urban-dark;
        text-align: center;
        background: none;
        border: 2px solid @sdt-border-color;
        border-radius: 1px 1px 0 0;
        box-shadow: none;
    }

    .ty-value-changer__increase,
    .ty-value-changer__decrease {
        float: left;
        width: 23px;
        height: 23px;
        font-family: sans-serif;
        font-size: 23px;
        font-weight: 700;
        line-height: 23px;
        color: @sdt-urban-gray;
        text-align: center;
        cursor: pointer;
        border: 2px solid @sdt-border-color;
        border-top: none;
        transition: all .4s ease-in-out;
        transform: translate3d(0, 0, 0);

        &:hover {
            color: @sdt-urban-white;
            text-decoration: none;
            background: @sdt-urban-gray;
        }
    }

    .ty-value-changer__increase {
        order: 10;
        border-left: none;
    }
}

.touch .ty-value-changer {
    width: 53px;

    .ty-value-changer__increase,
    .ty-value-changer__decrease {
        background: @sdt-urban-white;
        color: @sdt-urban-gray;
    }
}

.touch input.ty-value-changer__input {
    height: 30px;
}

.ty-qty-in-stock,
.ty-qty-out-of-stock {
    font-size: @sdt-fz-m;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
        color: @sdt-urban-dark;
    }

    &::before {
        position: relative;
        top: 1px;
        padding-right: 10px;
        font-family: sdt-icons;
        font-size: @sdt-fz-l;
        font-weight: 400;
        content: '\f373';
    }
}

.ty-qty-in-stock {
    color: @sdt-urban-dark;
}

.ty-qty-out-of-stock {
    color: @sdt-urban-gray;
}

[id^='old_price_update'] {
    display: block;

    span {
        font-size: @sdt-fz-m;
        color: @sdt-urban-gray;
    }
}
