.ty-mainbox-simple-body .owl-wrapper .owl-item {
    .ty-scroller-list__item {
        padding: 0 15px 20px;

        .ty-quick-view-button {
            position: relative;
            top: -82px;
            left: 38px;
            text-align: left;
            visibility: visible;
        }
    }
}

.ty-discount-label,
.ty-simple-list .ty-discount-label {
    background: @sdt-urban-gray;
    opacity: .8;

    &::before {
        position: absolute;
        top: 0;
        right: auto;
        left: -10px;
        width: 0;
        height: 0;
        content: '';
        border-color: transparent @sdt-urban-gray;
        border-style: solid;
        border-width: 0 11px 15px 0;
    }

    &::after {
        position: absolute;
        top: 13px;
        left: -10px;
        width: 0;
        height: 0;
        content: '';
        border-color: @sdt-urban-gray transparent;
        border-style: solid;
        border-width: 0 0 15px 11px;
    }

    span {
        font-size: @sdt-fz-sm;
    }
}

.ty-simple-list .ty-discount-label {
    top: 0;
    right: 15px;
}

.ty-grid-list__item .ty-discount-label {
    top: 20px;
}


.ty-product-list__control .ty-btn {
    margin-bottom: 20px;
    margin-left: 0;
}

.homepage-hotdeals {
    margin: 0;
}

.touchevents .ty-mainbox-container .ty-grid-list__control {
    display: block;
}

.sdt-bg-product-img .ty-grid-list__image .ty-center-block {
    background-color: @sdt-urban-white-smoke;
}

.scroller-bg-gray .ty-scroller-list__img-block {
    background-color: @sdt-urban-white-smoke;
}

@media (max-width: @sdt-urban-mq-md) {
    .ty-scroller-list__description {
        .ty-simple-list__buttons {
            margin-top: 10px;
        }

        .ty-simple-list__price {
            margin-top: 0;
        }

        .ty-control-group.product-list-field {
            margin-bottom: 0;
        }
    }
}

@media (max-width: @sdt-urban-mq-xs-min) {
    .ty-scroller-list__description .ty-simple-list__buttons {
        margin-top: 0;
    }
}
