.ty-quick-view__wrapper {
    .ty-product-block {
        &__left {
            display: table-cell;
            float: none;
            width: auto;
            padding-left: 30px;

            .ty-qty .ty-control-group__label {
                margin-bottom: 10px;
            }

            .ty-control-group__label {
                min-width: auto;
                margin: 0;
            }
        }

        &__right {
            float: none;
            width: auto;
            padding: 0;
            border: 0;
        }

        .ty-product-block__price-actual {
            margin-top: 0;
        }

        .ty-control-group label,
        .ty-control-group__item,
        .ty-list-price span {
            padding: 2px 0;
            font-size: @sdt-fz-sm;
            line-height: 22px;
        }

        .ty-product-block__field-group .ty-control-group {
            margin-bottom: 12px;
        }

        &-title a {
            color: @primary_button;
        }
    }

    .ty-quick-view-tools {
        display: none;
    }

    .ty-product {
        &-thumbnails__item {
            margin: 0;
            margin-right: 10px;
            background: fade(@sdt-urban-black, 5%);

            img {
                min-width: 100%;
            }
        }

        &-prices {
            margin: 5px 0;
        }
    }

    .ty-previewer {
        width: 275px;

        img {
            width: 100%;
        }
    }

    .ty-product-block__note .product-promo-header,
    .product-promo-body {
        font-size: @sdt-fz-sm;
    }
}

.sdt-product_quick_view {
    padding: 0;
    margin-right: 10px;
    color: @primary_button;
    text-decoration: none;
    background: transparent;
    box-shadow: none;

    i {
        font-size: 28px;
        font-weight: 400;
        color: @sdt-urban-dark;
    }

    &:hover {
        background: transparent;
        box-shadow: none;

        i {
            color: @primary_button;
        }
    }
}
