.ty-sort-dropdown {
    &__wrapper {
        padding: 0;
        line-height: 30px;
        color: @sdt-urban-gray;

        &:hover,
        &.open {
            color: inherit;
            background: transparent;
        }
    }

    &__content {
        min-width: 220px;
    }

    &__content-item {
        padding: 0;
    }

    &__content-item-a {
        color: @sdt-urban-dark;

        &:hover {
            color: @sdt-urban-white;
            background: @sdt-urban-dark;
        }
    }
}

.ty-sort-container {
    padding: 10px;
    background: fade(@sdt-urban-black, 1%);
    border: 1px solid @sdt-border-color;

    &__views-a {
        display: block;
        float: left;
        width: 20px;
        height: 16px;
        padding: 6px 4px;
        font-size: 100%;
        color: @sdt-urban-asphalt;
        text-align: center;
        border: 1px solid transparent;

        &.active {
            background: @sdt-urban-white;
            border-color: @sdt-border-color;

            i {
                color: @sdt-urban-dark;
            }
        }
    }
}
