.ty-subcategories {
    padding: 60px;

    @media (max-width: @sdt-urban-mq-sm-min) {
        padding: 60px 20px;
    }

    &-img {
        width: 100%;
        min-width: 0;
    }

    &-block {
        margin: 0;

        &:nth-child(odd) .ty-subcategories-block__item:nth-child(odd),
        &:nth-child(even) .ty-subcategories-block__item:nth-child(even) {
            @media (min-width: @sdt-urban-mq-xs) {
                -ms-flex: 1 1 32%;
                flex: 1 1 32%;
            }
        }

        &:nth-child(odd) .ty-subcategories-block__item:nth-child(even),
        &:nth-child(even) .ty-subcategories-block__item:nth-child(odd) {
            @media (min-width: @sdt-urban-mq-xs) {
                -ms-flex: 1 1 66%;
                flex: 1 1 66%;
            }
        }

        @media (min-width: @sdt-urban-mq-xs) {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin: 0;
        }

        .ty-subcategories-block__item a {
            transition: all .4s ease-in-out;
        }

        .ty-subcategories-block__item .ty-subcategories-block-no-image {
            height: 100%;
            min-height: 380px;
            background: @sdt-urban-gray;

            @media (max-width: @sdt-urban-mq-lg-max) {
                height: 100%;
                min-height: 215px;
                background: @sdt-urban-gray;
            }

            @media (min-width: @sdt-urban-mq-xs) {
                height: 100%;
                min-height: 380px;
                background: @sdt-urban-gray;
            }
        }

        &__a {
            position: relative;
            display: block;
            font-weight: 700;
            height: 100%;

            .textblock {
                position: absolute;
                top: 49%;
                left: 0;
                padding-left: 50px;
                text-align: left;
                text-shadow: 0 0 10px @sdt-urban-dark;
                transform: translate(0, -50%);

                @media (max-width: @sdt-urban-mq-lg-max) {
                    padding-left: 20px;
                }
            }

            h2 {
                max-width: 240px;
                margin-right: 0;
                color: @sdt-urban-white;

                @media (max-width: @sdt-urban-mq-lg-max) {
                    font-size: @sdt-fz-xxl;
                }

                @media (max-width: @sdt-urban-mq-sm-min) {
                    margin-bottom: 5px;
                    font-size: @sdt-fz-xl;
                }
            }

            .sdt-btn--large {
                margin-top: 26px;
                letter-spacing: .3px;

                @media (max-width: @sdt-urban-mq-lg-min) {
                    margin-top: 10px;
                }

                @media (max-width: @sdt-urban-mq-md) {
                    padding: 13px;
                    font-size: 12px;
                }
            }
        }
    }

    &-img {
        height: 100%;
        object-fit: cover;
    }

    &-img,
    &-block__item {
        padding-bottom: 0;
        margin-right: 0;
    }

    &__item {
        margin: 5px 5px 0 0;

        .ty-subcategories-img {
            display: none;
            width: 100%;
            min-width: 0;
        }

        a {
            display: block;
            padding: 5px 10px;
            color: @sdt-urban-white;
            background: @sdt-urban-dark;
            border-radius: 10px;
            transition: background .4s ease-in-out;

            span {
                color: @sdt-urban-white;
            }

            &:hover {
                background: @primary_button;
            }
        }
    }
}

.ty-subcategories-block__item:hover a {
    @media (min-width: @sdt-urban-mq-xs) {
        z-index: 1;
        box-shadow: 0 10px 40px 15px fade(@sdt-urban-black, 50%);
    }
}
