.ty-mainbox-simple-title {
    margin-bottom: 0;
    line-height: 1;
    letter-spacing: 1.8px;

    @media (max-width: @sdt-urban-mq-lg-max) {
        margin-top: 47px;
    }

    @media (max-width: @sdt-urban-mq-md) {
        margin-top: 26px;
        font-size: 28px;
    }

    + .ty-mainbox-simple-body {
        padding: 50px 20px;
    }
}

.ty-mainbox-title {
    margin-top: 10px;
    font-size: @sdt-fz-xxl;

    &__right,
    &__left {
        margin-top: 2px;
    }

    span {
        font-size: @sdt-fz-xxl;
        font-style: italic;
        font-weight: 700;
        line-height: 1.12;
        color: @sdt-urban-dark;
        text-transform: uppercase;

        @media (max-width: @sdt-urban-mq-xs-min) {
            font-size: 22px;
        }
    }
}

.main-content-grid .ty-mainbox-title {
    @media (max-width: @sdt-urban-mq-xs-min) {
        font-size: 22px;
    }
}

.ty-mainbox-simple-body {
    position: relative;
}

.ty-section__body,
.ty-mainbox-body {
    .buttons-container {
        background: transparent;
    }
}

.ty-subheader {
    color: @sdt-urban-dark;

    @media (max-width: @sdt-urban-mq-xs-min) {
        font-size: 16px;
        font-style: normal;
    }
}

.ty-sidebox__title {
    margin-top: 0;
}
