@rounded_corners: false;
@links: #000000;
@menu_links: #31373d;
@menu: #ffffff;
@base: #EDEFF1;
@font: #333333;
@primary_button: #000000;
@secondary_button: #000000;
@tertiary_button: #BDC3C7;
@sidebar: #fff;
@price: #343434;
@discount_label: #ff9900;
@in_stock: #2ECC71;
@out_of_stock: #a80006;
@top_panel_links: #000000;
@top_panel_text: #555555;
@footer_text: #A3AAAF;
@decorative: #000000;

@general_bg_color: #ffffff;
@general_bg_image: transparent;
@general_bg_repeat: repeat;
@general_bg_scroll: scroll;

@top_panel_bg: #ffffff;
@top_panel_bg_full: true;
@top_panel_bg_transparent: false;
@top_panel_bg_grad_stop: #ffffff;

@header_bg: #ffffff;
@header_bg_full: true;
@header_bg_transparent: false;
@header_bg_grad_stop: #ffffff;

@content_bg: #ffffff;
@content_bg_full: false;
@content_bg_transparent: false;

@footer_bg: #31373e;
@footer_bg_full: true;
@footer_bg_transparent: false;
@footer_bg_grad_stop: #31373e;

@body_font: 'Roboto Condensed', sans-serif;
@body_font_size: 18px;
@body_font_style: normal;
@body_font_weight: normal;
@headings_font: 'Roboto Condensed', sans-serif;
@headings_font_size: 20px;
@headings_font_decoration: none;
@headings_font_style: normal;
@headings_font_weight: bold;
@links_font: 'Roboto Condensed', sans-serif;
@links_font_size: 18px;
@links_font_decoration: none;
@links_font_style: normal;
@links_font_weight: normal;
@price_font: 'Roboto Condensed', sans-serif;
@price_font_size: 20px;
@price_font_decoration: none;
@price_font_style: normal;
@price_font_weight: bold;
@buttons_font: 'Roboto Condensed', sans-serif;
@buttons_font_size: 18px;
@buttons_font_decoration: none;
@buttons_font_style: normal;
@buttons_font_weight: normal;

// Custom colors
@sdt-urban-asphalt:         #8996a3;
@sdt-urban-dark:            #31373d;
@sdt-urban-gray:            #919191;
@sdt-urban-gray-light:      #e8ebec;
@sdt-urban-white-smoke:     #f7f7f7;
@sdt-urban-product-select:  #dddddd;
@sdt-urban-submenu-gray:    #d8d8d8;
@sdt-urban-red:             #af0000;
@sdt-urban-red-transparent: rgba(0, 0, 0, .5);
@sdt-urban-white:           #ffffff;
@sdt-urban-black:           #000000;
@sdt-urban-green:           #009900;
@sdt-urban-green-dark:      #008000;
@sdt-urban-orange:          #ffa500;
@sdt-urban-orange-dark:     #ff9900;

// Breakpoints
@sdt-urban-mq-lg-max: 1224px;
@sdt-urban-mq-lg-min: 1199px;
@sdt-urban-mq-xl:     1119px;
@sdt-urban-mq-xl-min: 1024px;
@sdt-urban-mq-md-max: 991px;
@sdt-urban-mq-md:     768px;
@sdt-urban-mq-sm-min: 767px;
@sdt-urban-mq-xs:     481px;
@sdt-urban-mq-xs-min: 480px;

/*/FONTS*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400i,700,700i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

@sdt-fz-sm:              14px;
@sdt-fz-m:               15px;
@sdt-fz-l:               18px;
@sdt-fz-xl:              20px;
@sdt-fz-xxl:             30px;

@sdt-owl-icon-size-big:  60px;

@sdt-btn-fz:             15px;
@sdt-btn-text-color:     @sdt-urban-white;
@sdt-btn-radius-large:   60px;

@sdt-social-links-size:  11px;
@sdt-social-links-color: @sdt-urban-dark;

@sdt-border-color:       @sdt-urban-gray-light;

@import 'sd_urban_shift/main.less';
