.ty-blog-grid {
    .ty-footer-general {
        &__header {
            padding: 0;
        }

        &__body {
            margin-top: 15px;

            .ty-wysiwyg-content {
                margin-bottom: 30px;
            }
        }
    }

    .ty-mainbox-body {
        span,
        p,
        li,
        div,
        a,
        b,
        strong {
            font-size: @sdt-fz-l;
        }
    }

    .ty-blog {
        &__post-title {
            padding-bottom: 11px;
            margin: 0;
            font-size: @sdt-fz-xxl;
            font-weight: 400;
            color: @primary_button;
            text-transform: none;
            letter-spacing: 0;
        }

        &__author,
        &__date {
            margin-bottom: 10px;
            font-size: @sdt-fz-l;
        }

        &__author {
            border-color: @sdt-border-color;
        }

        &__date i {
            position: relative;
            top: -1px;
            margin-right: 5px;
            font-size: @sdt-fz-sm;
            color: @sdt-urban-gray;
        }

        &__item {
            padding: 30px 0;
            border-top: 1px solid @sdt-border-color;
        }

        &__description {
            margin-bottom: 0;
        }
    }

    .ty-btn__secondary {
        padding: 12px 35px;
        font-size: @sdt-btn-fz;
    }

    .ty-wysiwyg-content {
        span,
        p,
        li,
        b {
            color: @sdt-urban-gray;
        }

        a {
            font-size: @sdt-fz-l;
        }
    }
}

.last-posts .ty-footer-general__header {
    padding: 0;

    span {
        font-size: @sdt-fz-xxl;
        font-weight: 700;
        color: @sdt-urban-dark;
    }
}

.ty-blog {
    &-sidebox__item,
    &__item {
        margin-bottom: 0;
        border-bottom: none;
    }

    &-left_column h2 {
        padding-top: 0;

        span {
            font-size: @sdt-fz-xxl;
            font-weight: 700;
            color: @sdt-urban-dark;
        }
    }

    &-grid .ty-footer-menu__icon-open.ty-icon-down-open,
    &-left_column {
        @media (max-width: @sdt-urban-mq-sm-min) {
            display: none;
        }
    }
}

.ty-blog-sidebox__list {
    .ty-blog {
        &__post-title {
            margin-top: 10px;
            margin-bottom: 0;
            font-size: 16px;
            font-weight: 400;
            color: @primary_button;
            text-transform: none;
        }

        &__recent_post_column {
            display: inline-block;
            width: 90%;

            .ty-blog__date {
                font-size: @sdt-fz-l;
                color: @sdt-urban-gray;

                i {
                    position: relative;
                    top: -1px;
                    margin-right: 5px;
                    font-size: @sdt-fz-sm;
                    color: @sdt-urban-gray;
                }
            }
        }
    }

    > li:first-child {
        padding-bottom: 0;
    }

    > li:not(:first-child) {
        padding: 15px 0 0;
        margin: 15px 0 0;
        border-top: 1px solid @sdt-border-color;
    }
}

.ty-tags-list {
    margin-top: 20px;

    &__item {
        display: inline-block;
    }

    &__a {
        display: inline-block;
        padding: 5px 10px;
        margin: 10px 10px 0 0;
        font-size: @sdt-fz-l;
        color: @sdt-urban-gray;
        text-transform: none;
        background: none;
        border: 2px solid @sdt-border-color;
        border-radius: 0;

        &::before {
            display: none;
        }

        &::after {
            position: relative;
            top: 2px;
            width: 12px;
            height: 25px;
            margin-right: 5px;
            font-family: sdt-icons;
            font-size: 12px;
            content: '\F2AA';
        }

        &:hover {
            color: @sdt-urban-white;
            background: @primary_button;
            border-color: @primary_button;

            &::after {
                color: @sdt-urban-white;
                background: transparent;
            }
        }
    }
}
