.certificates-verify-grid {
    .sdt-btn--large {
        padding: 0 10px;
        color: @sdt-urban-white;
        background: @primary_button;
        border-radius: 0;
        box-shadow: none;
    }

    .ty-gift-certificate-validate {
        margin-top: 0;

        &__title {
            margin-bottom: 25px;
            font-size: @sdt-fz-xxl;
            font-weight: 700;

            @media (max-width: @sdt-urban-mq-sm-min) {
                font-size: 22px;
                text-align: left;
            }
        }
    }
}

.ty-gift-certificate {
    &__products {
        .product-picker-icon {
            margin-top: 0;
        }

        .ty-btn__secondary {
            box-shadow: none;
        }
    }

    .ty-btn__primary {
        padding: 10px 15px;
        box-shadow: none;
    }
}

.ty-gift-certificate__preview-btn .ty-btn__tertiary,
.ty-btn.ty-btn__tertiary.cm-reset-link {
    padding: 16px 20px;
    font-size: @sdt-fz-m;
    font-weight: 700;
    text-transform: uppercase;
    background: @sdt-urban-dark;
    border: 0;
    border-radius: @sdt-btn-radius-large;
    box-shadow: none;
    transition: all 300ms ease-in-out;
}
