.sd-demo-banners {
    .container-fluid {
        max-width: @fluidContainerMaxWidth;
        margin: auto;
    }

    &__content {
        max-width: 100%;
        margin-right: 10%;
        -ms-flex-pack: end;
            justify-content: flex-end;
        margin-left: auto;
    }

    .title {
        margin-bottom: 20px;
        font-size: 40px;
        font-style: italic;
        color: @sdt-urban-white;
        text-transform: uppercase;
    }

    .subtitle {
        width: 70%;
        font-size: @sdt-fz-l;
        color: @sdt-urban-white;
        text-align: left;
    }

    .button {
        padding: 30px 35px;
        margin-top: 70px;
        background-color: @primary_button;

        &:hover {
            background-color: @sdt-urban-dark;
            box-shadow: 0 12px 12px 2px fade(@sdt-urban-dark, 35%);
        }
    }
}

.sd-wide-banner__container {
    display: block !important;

    .owl-theme .owl-controls {
        position: absolute;
        top: 0;
        bottom: 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
            align-items: center;
        width: auto;
        margin-left: 0;

        @media (max-width: 767px) {
            top: auto;
            right: 0;
            left: 0;
        }

        .owl-page {
            box-sizing: border-box;
            display: block;
            width: 24px;
            height: 24px;
            margin: 20px auto;
            border: 3px solid @sdt-urban-white;
            border-radius: 50%;
            transition: border-width .3s ease-in-out;
            transform: translate3d(0, 0, 0);

            @media (max-width: 767px) {
                margin: 0 5px;
            }

            &.active {
                border-width: 7px;

                @media (max-width: 767px) {
                    background-color: @primary_button;
                }
            }

            span {
                background-color: transparent;
            }
        }

        .owl-pagination {
            padding: 40px 20px;
            background-color: @primary_button;

            @media (max-width: 767px) {
                box-sizing: border-box;
                display: -ms-flexbox;
                display: flex;
                min-width: 100%;
                background-color: fadeout(@primary_button, 50%);
                -ms-flex-pack: center;
                    justify-content: center;
                -ms-flex-align: center;
                    align-items: center;
                padding: 10px;
            }
        }

        .owl-buttons {
            div {
                top: 50%;
                padding: 0;
                margin: 0;
                margin-top: -60px;
                font-size: 0;
                background: transparent;

                &::before {
                    font-family: glyphs;
                    font-size: @sdt-owl-icon-size-big;
                    font-style: normal;
                    font-weight: 400;
                    font-variant: normal;
                    line-height: 1;
                    text-transform: none;
                    speak: none;
                    -webkit-font-smoothing: antialiased;
                }
            }

            .owl-prev {
                float: left;

                &::before {
                    content: '\e020';
                }
            }

            .owl-next {
                float: right;

                &::before {
                    content: '\e01f';
                }
            }
        }
    }

    .owl-carousel .owl-wrapper {
        display: block !important;
    }
}

@media (max-width: @sdt-urban-mq-lg-min) {
    .sd-demo-banners {
        .title {
            margin-bottom: 5px;
            font-size: 25px;
        }

        .subtitle {
            font-size: @sdt-fz-sm;
        }

        .button {
            padding: 20px 15px;
            margin-top: 20px;
            font-size: @sdt-fz-m;
        }
    }
}

@media (max-width: @sdt-urban-mq-sm-min) {
    .sd-wide-banner__container .owl-theme .owl-controls {
        bottom: 0;
    }

    .sd-demo-banners .subtitle {
        display: none;
    }
}

@media (max-width: @sdt-urban-mq-xs-min) {
    .sd-demo-banners__content {
        display: none;
    }
}
