.sd-back-to-top.stripe--off {
    width: 50px;
    height: 50px;
    text-align: center;
    background: @primary_button;
    border-radius: 20px;
    box-shadow: 0 12px 12px 2px fade(@primary_button, 35%);

    @media (max-width: @sdt-urban-mq-sm-min) {
        z-index: 90;
        width: 32px;
        height: 32px;
        border-radius: 10px;
    }

    &:hover {
        background: @sdt-urban-dark;
        box-shadow: 0 12px 12px 2px fade(@sdt-urban-dark, 35%);
    }

    i {
        font-size: @sdt-fz-m;
        line-height: 50px;
        color: @sdt-urban-white;
        transition: all ease-in-out;

        @media (max-width: @sdt-urban-mq-sm-min) {
            line-height: 32px;
        }
    }
}

.sd-back-to-top-icon {
    opacity: 1;
}
