.sd-hamburger-menu {
    .ty-menu__submenu-items.cm-responsive-menu-submenu {
        display: none;
        padding: 0 10px 5px 15px;
        margin: 0;
        visibility: visible;
        box-shadow: none;
        opacity: 1;
    }

    .ty-menu__item-link {
        font-family: @body_font;
    }

    .ty-menu__submenu-items.ty-menu__items-show {
        display: block;
    }

    .ty-menu__submenu-items.cm-responsive-menu-submenu .ty-top-mine__submenu-col {
        width: 100%;
    }

    .ty-menu__submenu-item-header .ty-menu__submenu-link,
    .ty-menu__submenu-items .ty-top-mine__submenu-col .ty-menu__submenu-item-header + .ty-menu__item-toggle i {
        font-style: normal;
        font-weight: 400;
        color: @menu_links;
    }

    .ty-menu__submenu-items .ty-top-mine__submenu-col:not(:last-child) {
        border-width: 0;
    }

    &__items.small .ty-menu__submenu-alt-link {
        font-size: 14px;
    }

    &__button {
        max-width: 60px;
        max-height: 60px;
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 767px) {
    .sd-hamburger-menu__button {
        margin-top: 0 !important;
    }
}