.product-label {
    padding: 0 10px 0 12px;
    font-size: @sdt-fz-sm;
    line-height: 28px;
    opacity: .8;
}

.product-labels-block span {
    font-weight: 400;
}

.grid-list .product-labels-block {
    top: 20px;

    span {
        display: block;
    }
}

.grid-list,
.ty-product-list {
    .product-labels-block span {
        padding: 0 9px;
    }
}
