@media (max-width: @sdt-urban-mq-sm-min) {
    .sd-menu.ty-menu__items .ty-menu__submenu-items {
        margin-bottom: 30px;
        box-shadow: none;
    }
}

.sd-menu-vert .ty-menu__item-label, .sd-menu .ty-menu__item-label {
    margin-top: 3px;
}
