.ty-table-wholesale-order {
    th {
        font-size: @sdt-fz-l;
        color: @sdt-urban-dark;
        text-transform: none;

        a {
            color: @sdt-urban-dark;
            text-transform: none;
        }
    }

    &__item .ty-btn__primary {
        padding: 10px 15px;
        box-shadow: none;
    }
}
